<form asp-action="/Imagens/Upload" method="post" enctype="multipart/form-data">
    <label>Escolha sua imagem para Upload</label>
    <input type="file" name="foto" />
    <br />
    <button type="submit" class="btn btn-danger">Enviar a imagem</button>

</form>
