 <form action="=/Login/Entrar" method="post">
     <label>Usuário</label>
     <input type="text" name="usuario"/>
     <br />
     <label>Senha</label>
     <input type="password" name="senha"/>
     <br />

     <button type="submit">Logar</button>


 </form>
