@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto Tabelas Relacionais</h1>    
</div>

<img src="~/png-user-icon-icons-logos-emojis-users-2400.png" width="50" height="50" />

<br />

<img src="~/R (1).png" width="50" height="50" />

<br />

<img src="~/R.png" width="50" height="50" />


